body{box-sizing:border-box
;margin:0;
background-color:#000054;}
main{margin:0;
}

nav{
position:fixed;
width:150px;
height:100vh;
margin:0;
	
}

nav div{
display:flex;
margin:10px; 10px;
width:150px;
height:4em;;
background:linear-gradient(45deg, #0F0033, #1F22ff);
border:10px solid #ffffff;

}
.navbar div:first-of-type{

}

nav div p{
margin:auto;
color:#ffffff;
font-family:Georgia;
font-weight:1000;
font-size:1.2rem;
text-shadow:3px 3px 5px black, -3px -3px 5px black,3px -3px 5px black,-3px 3px 5px black;
}